* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 10px;
  height: 100%;
}
input,
button {
  outline: none;
  border: none;
  font-size: 1rem;
}
.outer {
  display: flex;
  background-color: #ff8a00;
  height: 4rem;
  align-items: center;
}
.outer img {
  height: 3rem;
}
.outer .logo {
  margin-left: 3rem;
}
.outer .my {
  margin: 0rem 3rem 0rem 9rem;
}
.index {
  font-weight: bold;
}
.list {
  font-size: 1rem;
}
.list li {
  border-bottom: 0.1rem solid gray;
  padding: 0rem 1.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list li .icon-code {
  border: 0.1rem solid gray;
  background-color: #fff;
  padding: 0.5rem;
}
.list li .res {
  color: #ff8a00;
}
.list .login-way {
  padding: 0;
  align-items: stretch;
  border: none;
}
.list .login-way div {
  width: 50%;
  padding: 1rem 0rem;
  text-align: center;
  border-bottom: 0.4rem solid gray;
}
.list .login-way .color {
  border-bottom: 0.4rem solid #ff8a00;
}
.list .sub {
  height: auto;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
  border: none;
}
.list .sub button {
  width: 100%;
  height: 4rem ;
  background-color: #ff8a00;
  color: #fff;
}
.list .option {
  border: none;
}
