* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 10px;
  height: 100%;
  background-color: #f5f5f5;
}
input,
button {
  outline: none;
  border: none;
  font-size: 1rem;
}
.outer {
  display: flex;
  background-color: #ff8a00;
  height: 4rem;
  align-items: center;
}
.outer img {
  height: 3rem;
}
.outer .logo {
  margin-left: 3rem;
}
.outer .my {
  margin: 0rem 3rem 0rem 9rem;
}
.list {
  background-color: #fff;
  list-style: none;
}
.list li {
  font-size: 1.4rem;
  color: gray;
  border-bottom: 0.1rem solid #c7c1c1;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1.5rem;
}
.list li .index {
  font-weight: bold;
}
.list li img {
  height: 1.5rem;
}
.list .home {
  margin: 0;
}
.list .myimg {
  background: url('../../my/bg2.png') no-repeat;
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12.5rem;
  background-size: 32rem;
}
.list .myimg img {
  width: 5rem;
  height: 5rem;
  margin-top: 2rem;
}
.list .myimg span {
  margin-bottom: 2rem;
}
.list .myimg-one {
  background: url('../../my/bg1.png') no-repeat;
  margin: 0;
  color: #fff;
  flex-direction: column;
  align-items: center;
  height: 18.5rem;
  background-size: 32rem;
}
.list .myimg-one .imgs {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.list .myimg-one .imgs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}
.list .myimg-one .userimg {
  width: 5rem;
  height: 5rem;
}
.list .myimg-one button {
  outline: none;
  border: 0.1rem solid #fff;
  width: 6.5rem;
  height: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  background-color: transparent;
}
.list .last {
  border: none;
}
.res {
  color: #ff8a00;
}
.login-off {
  border-top: 0.1rem solid #c7c1c1;
  display: flex;
  justify-content: center;
  padding: 3rem 1.5rem;
}
.login-off button {
  border: 0.1rem solid #c7c1c1;
  background-color: #fff;
  width: 100%;
  height: 3.5rem;
}
