* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 10px;
  height: 100%;
  background-color: #f5f5f5;
}
.outer {
  display: flex;
  background-color: #ff8a00;
  height: 4rem;
  align-items: center;
}
.outer img {
  height: 3rem;
}
.outer .logo {
  margin-left: 3rem;
}
.outer .my {
  margin: 0rem 3rem 0rem 9rem;
}
.list {
  background-color: #fff;
  list-style: none;
}
.list li {
  font-size: 1.2rem;
  color: gray;
  border-bottom: 0.1rem solid #c7c1c1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list li .index {
  font-weight: bold;
}
.list li img {
  width: 100%;
}
.list .l-one {
  margin: 0rem 1.5rem;
  height: 3.5rem;
}
.list .banner {
  position: relative;
}
.list .banner .b-nav {
  position: absolute;
  right: 0rem;
  bottom: 1rem;
  width: 6rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  line-height: 4rem;
  color: #fff;
}
.list .title {
  align-items: stretch;
}
.list .title .head {
  box-sizing: border-box;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
  flex: auto;
  border-right: 0.1rem solid gray;
  font-weight: bold;
  font-size: 1.65rem;
  color: #333;
}
.list .title .attention {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list .title .attention img {
  width: 2rem;
}
.list .price {
  display: flex;
  align-items: center;
  height: 10rem;
  background-color: #f5f5f5;
}
.list .price div {
  width: 33.33%;
  box-sizing: border-box;
  border-right: 0.1rem solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #333;
}
.list .price div .yellow {
  color: #ff8a00;
}
.list .setting {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.5rem;
}
.list .setting div {
  width: 100%;
  border-bottom: 0.1rem solid gray;
  padding: 2rem 0rem;
  color: #333;
  display: flex;
}
.list .setting div span {
  width: 50%;
}
.list .room-sessage {
  background-color: #f5f5f5;
  padding: 0rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}
.list .room-sessage .sessage {
  margin-top: 1rem;
  border: 0.1rem solid gray;
  width: 100%;
  background-color: #fff;
}
.list .room-sessage .sessage .sessage-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff8a00;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  border-bottom: 0.1rem solid gray;
  align-items: center;
}
.list .room-sessage .sessage .sessage-title img {
  width: 0.7rem;
  height: 1.5rem;
}
.list .room-sessage .sessage .s-text {
  padding: 1rem;
  color: #333;
}
.list .room-sessage .sessage .s-text .map {
  border: 0.1rem solid gray;
}
.list .room-sessage .sessage .s-text .map h1 {
  font-size: 1.2rem;
  padding: 0.5rem 0.2rem;
  border-bottom: 0.1rem solid gray;
}
.list .room-sessage .sessage .history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
}
.phone {
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
}
.phone .p-left {
  display: flex;
}
.phone .p-left img {
  width: 5rem;
  margin-right: 1.5rem;
}
.phone .p-left div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone .p-right {
  display: flex;
}
.phone .p-right div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.phone .p-right div img {
  width: 3rem;
}
.foot {
  background-color: #333;
  color: #afa7a7;
  padding: 0rem 2rem;
  font-size: 1.2rem;
}
.foot .f-top {
  padding: 1.5rem 0rem;
  border-bottom: 0.1rem solid #afa7a7;
}
.foot .f-cen {
  display: flex;
}
.foot .f-cen .client {
  width: 50%;
  display: flex;
  padding: 1.5rem 0rem;
}
.foot .f-cen .client img {
  height: 1.4rem;
  margin: 0rem 1.5rem 0rem 0.5rem;
}
.foot .f-cen .client div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.foot .f-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}
