html {
  width: 100%;
  height: 100%;
  font-size: 100px;
}
body {
  font-size: 0;
  background-color: #f5f5f5;
}
body .bgc {
  background-color: #fff;
}
body .orange {
  color: #ff8a00;
  font-weight: 600;
}
body .black {
  color: #999;
}
body .bto {
  border-top: 0.02rem solid #ff8a00;
}
body .bbo {
  border-bottom: 0.02rem solid #ff8a00;
}
body .btr {
  border-top: 0.02rem solid #ff0000;
}
body .bbr {
  border-bottom: 0.02rem solid #ff0000;
}
body .nav {
  height: 0.84rem;
  background-color: #ff8a00;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .nav img {
  width: 2.02rem;
  height: 0.68rem;
}
body .nav div img {
  width: 0.68rem;
  height: 0.68rem;
}
body .nav div img:nth-of-type(1) {
  margin-right: 0.2rem;
}
body .input {
  width: 5.8rem;
  height: 0.8rem;
  background-color: #fff;
  color: #757575;
  border-radius: 0.1rem;
  border: solid 0.01rem #cccccc;
  margin-left: 0.3rem;
  margin: 0.04rem 0.3rem 0.2rem 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .input input {
  width: 100%;
  font-size: 0.24rem;
  outline: none;
  border: none;
  margin-left: 0.2rem;
  margin-right: 0.4rem;
  border-right: 1px solid #000;
}
body .input img {
  width: 0.37rem;
  height: 0.41rem;
  margin-right: 0.34rem;
}
body .price {
  background-color: #fff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-size: 0.34rem;
  font-weight: 600;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.24rem 0 0.24rem 0;
}
body .price li img {
  width: 0.24rem;
  height: 0.14rem;
  padding-bottom: 0.1rem;
}
body .house {
  color: #000;
  border-bottom: 0.01rem solid #e5e5e5;
}
body .house .house_bot {
  padding-bottom: 0;
}
body .house li {
  width: 87%;
  margin: 0rem 0.4rem 0rem 0.4rem;
  padding: 0.44rem 0rem 0.46rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .house li img {
  width: 1.62rem;
  height: 1.51rem;
}
body .house li div {
  width: 67%;
  font-size: 0.24rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body .house li div span.font1 {
  font-size: 0.36rem;
  font-weight: 800;
}
body .house li div span.font {
  font-size: 0.26rem;
  font-weight: 800;
}
body .house li div div span:nth-of-type(2) {
  position: absolute;
  right: 0.4rem;
}
body .house li div div:nth-of-type(1) {
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
}
body .house li div div.brown {
  color: #8b8b8b;
}
body .house li div div.h_three {
  color: #849aae;
  height: 0.5rem;
  margin-top: 0.2rem;
}
body .house li div div.h_three span {
  padding: 0.1rem 0.08rem;
  background-color: #f4f7f9;
}
body .house li div div.h_three span:nth-of-type(1) {
  position: absolute;
}
body .house li div div.h_three span:nth-of-type(2) {
  padding: 0.1rem 0.08rem;
  position: absolute;
  right: 2.5rem;
}
body footer {
  background-color: #2f3130;
}
body footer .foot_tile {
  font-size: 0.28rem;
  color: #939494;
  line-height: 0.8rem;
  margin: 0 0.4rem;
  border-bottom: 0.02rem solid #3e403f;
}
body footer .foot_tile a {
  color: #939494;
}
body footer .f_logo {
  font-size: 0.24rem;
  padding: 0.7rem 0.4rem;
  padding-left: 0.4rem;
  color: #939494;
  display: flex;
  justify-content: space-evenly;
}
body footer .f_logo div {
  width: 50%;
  display: flex;
}
body footer .f_logo div img {
  width: 0.37rem;
  height: 0.43rem;
  margin-right: 0.32rem;
}
body footer .f_logo div div {
  display: flex;
  flex-direction: column;
}
body footer .f_bottom {
  font-size: 0.22rem;
  color: #939494;
  background-color: #2f3130;
  padding-bottom: 0.34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer .f_bottom span {
  margin-bottom: 0.1rem;
}
body footer .f_opcity {
  width: 100%;
  height: 1.15rem;
  background-color: #000;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}
body footer .f_opcity img {
  width: 0.6rem;
  height: 0.6rem;
}
body footer .f_opcity div:nth-of-type(1) {
  height: 1.15rem;
}
body footer .f_opcity div:nth-of-type(1) span {
  height: 100%;
  font-size: 0.24rem;
  color: #585653;
}
body footer .f_opcity div:nth-of-type(2) {
  color: #fff;
  display: flex;
  flex-direction: column;
}
body footer .f_opcity div:nth-of-type(2) span:nth-of-type(1) {
  color: #fff;
  font-size: 0.36rem;
}
body footer .f_opcity div:nth-of-type(2) span:nth-of-type(2) {
  color: #fff;
  font-size: 0.24rem;
}
body footer .f_opcity div:nth-of-type(3) {
  padding: 0.36rem 0;
  padding-left: 0.64rem;
  padding-right: 0.22rem;
  background-color: #ff8a00;
}
body footer .f_opcity div:nth-of-type(3) a {
  color: #fff;
  font-size: 0.32rem;
}
