html {
  width: 100%;
  height: 100%;
  font-size: 100px;
}
body {
  font-size: 0;
  background-color: #f5f5f5;
}
body .red {
  color: #db4c3f;
  font-weight: 600;
}
body .black {
  color: #000;
}
body .bgc {
  background-color: #fff;
}
body header {
  font-size: 0.24rem;
}
body header .banner {
  background-color: #ff8a00;
}
body header .banner img {
  width: 6.4rem;
  padding-top: 0.12rem;
}
body h1 {
  background-color: #fff;
  font-size: 0.36rem;
  padding: 0.48rem 0 0 0.34rem;
}
body .money {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
}
body .money div {
  display: flex;
  justify-content: space-between;
}
body .money div img {
  width: 0.23rem;
  height: 0.34rem;
}
body .money div div {
  font-size: 0.28rem;
}
body .money div:nth-of-type(2) {
  color: #b0b0b0;
  padding: 0.34rem 0;
}
body .money ul {
  display: flex;
}
body .money ul li {
  color: #849aae;
  background-color: #dee9f0;
  padding: 0.16rem 0.1rem;
  margin-right: 0.24rem;
}
body section {
  font-size: 0.24rem;
  margin: 0.24rem 0;
  border-top: 1px solid #ccc;
}
body section .message {
  background-color: #fff;
  padding: 0 0.4rem;
}
body section .message li {
  line-height: 1rem;
  border-bottom: 1px solid #ccc;
}
body section .message li span {
  display: inline-block;
  width: 49%;
}
body section .message li .mes_w {
  width: 100%;
}
body section .message li:last-of-type {
  color: #999999;
  text-align: center;
  border: none;
}
body section h3 {
  background-color: #fff;
  padding: 0 0.4rem;
  font-size: 0.32rem;
  color: #ff9326;
  line-height: 1.08rem;
  border-top: 1px solid #ccc;
  margin-top: 0.24rem;
}
body section .character {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
body section .character p {
  margin: 0 0.4rem;
  padding: 0.32rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 0.22rem;
  line-height: 0.5rem;
}
body section .character div {
  color: #999999;
  line-height: 1rem;
  text-align: center;
}
body section .divide_room {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
body section .divide_room li {
  border-bottom: 1px solid #ff8a00;
  border-top: 1px solid #ccc;
  margin: 0 0.4rem;
  padding: 0.4rem 0;
  display: flex;
}
body section .divide_room li img {
  width: 1.42rem;
  height: 1.42rem;
  margin-right: 0.12rem;
  margin-top: 0.12rem;
}
body section .divide_room li div span {
  font-size: 0.26rem;
  font-weight: 600;
}
body section .divide_room li div div:first-of-type {
  margin: 0.26rem 0 0.22rem 0;
}
body section .divide_room li div div span {
  display: inline-block;
  background-color: #f4f7f9;
  color: #849aae;
  font-weight: normal;
  padding: 0.16rem 0.08rem;
  margin-right: 0.16rem;
}
body section .divide_room li:last-of-type {
  border: none;
}
body section .mes_c {
  background-color: #fff;
  padding: 0 0.4rem;
  border-bottom: 1px solid #ccc;
}
body section .mes_c li {
  line-height: 1rem;
  border-bottom: 1px solid #ccc;
}
body section .mes_c li span:first-of-type {
  color: #999999;
}
body section .mes_c li:last-of-type {
  color: #999999;
  text-align: center;
  border: none;
}
body section .map {
  background-color: #fff;
}
body section .map div {
  border-top: 1px solid #ccc;
  margin: 0 0.4rem;
  padding: 0.4rem 0;
}
body section .map div img {
  width: 5.61rem;
}
body section .house div.reson {
  font-size: 0;
}
body section .house div.reson .sel_d {
  width: 0.32rem;
  height: 0.16rem;
  margin-left: 0.52rem;
}
body section .house div.reson .house_t {
  font-size: 0.24rem;
  background-color: #f2f2f2;
  line-height: 0.72rem;
  margin-left: 0.4rem;
  border-radius: 0.02rem 0 0 0.02rem;
  padding-left: 0.2rem;
  margin-bottom: 0.32rem;
}
body section .look {
  color: #666666;
  line-height: 1rem;
  text-align: center;
  background-color: #fff;
}
body footer .f_xin {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.4rem;
}
body footer .f_xin div {
  position: relative;
  font-size: 0.24rem;
  width: 4rem;
  height: 0.8rem;
  background-color: #ff8a00;
  border-radius: 0.1rem;
  text-align: center;
  margin-right: 0.32rem;
}
body footer .f_xin div a {
  color: #fff;
  line-height: 0.8rem;
}
body footer .f_xin div img {
  position: absolute;
  top: 0.15rem;
  left: 0.7rem;
}
body footer .f_xin img {
  width: 0.5rem;
  height: 0.5rem;
}
body footer .f_xin span {
  font-size: 0.24rem;
  color: #666666;
  margin-left: 0.16rem;
}
