html {
  width: 100%;
  height: 100%;
  font-size: 100px;
}
body {
  font-size: 0;
  background-color: #f5f5f5;
}
body .bgc {
  background-color: #fff;
}
body .orange {
  color: #ff8a00;
}
body .banner {
  width: 100%;
  height: 4.49rem;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: 6.4rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
body .banner div {
  width: 5.76rem;
  height: 0.7rem;
  border-top: 0.02rem solid #212121;
  border-left: 0.02rem solid #212121;
  border-right: 0.02rem solid #767676;
  border-bottom: 0.02rem solid #767676;
  border-radius: 0.1rem;
  box-shadow: 0 0.05rem 0.1rem #767676;
  background-color: #ebebeb;
  position: relative;
  margin-bottom: 0.2rem;
  overflow: hidden;
}
body .banner div input {
  width: 78%;
  height: 0.6rem;
  font-size: 0.24rem;
  background-color: #fff;
  border-radius: 0.1rem 0 0 0;
  outline: none;
  border: none;
  padding: 0 0.6rem;
  position: absolute;
  left: 0.05rem;
  bottom: 0.01rem;
}
body .banner div img {
  position: absolute;
  z-index: 10;
  left: 0.2rem;
  top: 0.24rem;
}
body .find {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 2.2rem;
  background-color: #ff8a00;
}
body .find li {
  width: 25%;
}
body .find li a {
  font-size: 0.24rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .find li a img {
  width: 1.1rem;
  margin-bottom: 0.18rem;
}
body .ban_i {
  width: 6.4rem;
  margin-bottom: 0.28rem;
}
body .hot {
  height: 1.22rem;
  color: #fff;
  font-size: 0.24rem;
  background-color: #ff8a00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.4rem;
}
body .hot span:nth-child(1) {
  font-size: 0.36rem;
}
body .hot_follow {
  font-size: 0.36rem;
  margin-top: 0.1rem;
  border-top: 0.01rem solid #e5e5e5;
  border-bottom: 0.01rem solid #ff8a00;
}
body .hot_follow a {
  display: flex;
  color: #ff8a00;
}
body .hot_follow a h3 {
  width: 50%;
  font-weight: normal;
  text-align: center;
  line-height: 1.08rem;
}
body .hot_follow a h3:nth-of-type(1) {
  border-bottom: 0.02rem solid #ff8a00;
}
body .hot_txt {
  font-size: 0.24rem;
  background-color: #fff;
  padding: 0.4rem 0rem;
  padding-left: 0.4rem;
}
body .hot_txt a {
  color: #666666;
  display: flex;
  justify-content: space-evenly;
  line-height: 0.56rem;
}
body .hot_txt a span {
  width: 50%;
}
